@model ListBlog.Models.Admin

@section Body {
    <div id="AdminForm">
        <p class="Warning">@ViewBag.Result</p>
        <p>&nbsp;</p>
        @{
            if (Request.Cookies["Admin"] != null)
            {
                <h2>Изменение пароля</h2><br /><br />
                using (Html.BeginForm())
                {
                    <p>Password: <br />@Html.PasswordFor(x => x.Password)</p>
                    <p>&nbsp;</p>
                    <p>Повтор: <br /><input type="password" name="Password2" /></p><br />
                    <input type="submit" value="Изменить" />
                }
            }



        }
    </div>
}
