@{
    ViewBag.Title = "List-blog";
}


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $(".DelLink").click(function () {
                if(confirm("Вы действительно хотите удалить?"))
                {
                    return true;
                }
                return false;

            });

        });

    </script>
}

@{
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
}

@section Body
{
    @{
        if (Request.Cookies["Admin"] == null)
        {
            @grid.GetHtml(tableStyle: "grid",
                  columns: grid.Columns(
                  grid.Column(columnName: "Description", header: "Стихотворения", format: @<div><h2><a href="~/Home/Poem?id=@item.Id">@item.Title</a></h2><p><a href="~/Home/Poem?id=@item.Id">Читать далее >></a></p></div>)
               )
             )
        }
        else
        {
            @grid.GetHtml(tableStyle: "grid",
                  columns: grid.Columns(
                  grid.Column(columnName: "Description", header: "Стихотворения", format: @<div><h2><a href="~/Home/Poem?id=@item.Id">@item.Title</a></h2><p><a href="~/Home/Poem?id=@item.Id">Читать далее >></a></p></div>),
                  grid.Column(columnName: "Id", header: "Действия", format: @<div><a class="DelLink" href="~/Admin/DeletePoem?id=@item.Id">Удалить</a><br /><br /><a href="~/Admin/ChangePoem?id=@item.Id">Изменить</a></div>)
              )
            )

        }
    }
}


